/* -- Fonts
======================================================================*/
$font-arial: Arial, Helvetica, sans-serif;
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$font-verdana: Verdana, Geneva, sans-serif;
$font-lucida: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$font-monospace: Consolas, Courier, monospace;
$font-palatino: "Hoefler Text", Constantia, "Bitstream Charter", Palatino, "Palatino Linotype", serif;